
.border {
  height: 6px;
  border: 0;
  background-color: :#fd7473;
  background-image: linear-gradient(to right, #E23F3F, #E23F3F 25%, #54EA9A 25%,#54EA9A 50%,
    #162693 50%, #162693 75%,#A50E5F 75%,#A50E5F 100%,#A50E5F 100%);

    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    background-size: 50% 100%;

}

.border-bottom {
  height: 6px;
  border: 0;
  position: relative;
  margin-top: -150px;
  background-color: :#fd7473;
  background-image: linear-gradient(to right, #E23F3F, #E23F3F 25%, #54EA9A 25%,#54EA9A 50%,
    #162693 50%, #162693 75%,#A50E5F 75%,#A50E5F 100%,#A50E5F 100%);

    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    background-size: 50% 100%;

}

html, body {
  margin: 0;
  padding: 0;
  background-image: url(p10.png);
  font-family: 'Sanchez';
}
.header .row h1 {
  font-family: 'Special Elite';
  margin: 40px 0 0 0;
  font-size: 1.35em;
  color:  #fff;


}

span {
  font-weight: 600;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.jumbotron {
  padding: 0;
  margin: 0;
}

.header ul {
  list-style: none;
  color: #fff;
}

.header li {
  display: inline;
  margin-right: 30px;
}

.pull-right{
  margin: 25px 0 0 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

div {
  display: block;
}

a {
  color: #fff;
}

.main {
  text-align: center;
  height: 450px;

}


.supporting {
  padding: 40px;

}

.main h1, .main p {
  padding: 30px;
  margin-top: 60px;
  color: #F2F1E3;
}

.main .container  h1 span {
    border-bottom: 3px solid  #8591F2;
}

.main p {
  font-size: 18px;
  font-weight: bold;
}

.thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0px;
}

.header .btn-default {
  border: 0px;
  border-radius: 0;
  padding: 8px 30px;
  
}

.header a {
  font-weight: bold;
}

.about-me:hover {
  color: #A50E5F;
  text-decoration: underline;
}

.btn-default:hover {
  color: #fff;
  background-color: #A50E5F;
}

.main p span{
  border-bottom: 2px solid #8591F2;
}
